$tablet-min-width: 744px;
$desktop-min-width: 1260px;
$transition-duration: 0.3s;
$main-text-color: #1b2129;
$button-color: #f98921;
$button-pressed-color: #010810;
$outline-color: #f98921;
$border-hover-color: #dbdbdb;
$hover-color: #1b2129;
$placeholder-color: #7e7e83;
$white: #fff;
$bg-input-color: #f9f9f9;
$main-info-color: #191919;
$second-info-color: #9393a3;
$menu-top-bg-color: #e5e5e5;
$menu-bg-color: #f9f9f9;
